{% extends 'layout.html' %} {% block content %}

<div class="custom-container">
  <h1 class="header-title header-title-warning">Edit Item Page</h1>

  <form class="row g-3" action="/edit/{{ item.id }}" method="POST">
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        placeholder="Name"
        class="form-control"
        value="{{ item.name }}"
      />
    </div>

    <div class="col-md-6">
      <label for="price" class="form-label">Price</label>
      <input
        type="text"
        name="price"
        placeholder="Price"
        class="form-control"
        value="{{ item.price }}"
      />
    </div>

    <div class="col-md-4">
      <label for="mac_address" class="form-label">Mac Address</label>
      <input
        type="text"
        name="mac_address"
        placeholder="Mac Address"
        class="form-control"
        value="{{ item.mac_address }}"
      />
    </div>
    <div class="col-md-4">
      <label for="serial_number" class="form-label">Serial Number</label>
      <input
        type="text"
        name="serial_number"
        placeholder="Serial Number"
        class="form-control"
        value="{{ item.serial_number }}"
      />
    </div>
    <div class="col-md-4">
      <label for="manufacturer" class="form-label">Manufacturer</label>
      <input
        type="text"
        name="manufacturer"
        placeholder="Manufacturer"
        class="form-control"
        value="{{ item.manufacturer }}"
      />
    </div>

    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        name="description"
        placeholder="Description"
        class="form-control"
        value="{{ item.description }}"
      />
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Edit</button>
      <a href="{{ url_for('inventory.index') }}" class="btn btn-danger"
        >Cancel</a
      >
    </div>
  </form>
</div>

{% endblock %}
