{% extends 'layout.html' %} 

{% block content %} 

{% with messages = get_flashed_messages() %} 
    {% if messages %} 
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong class="text-success">Success</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {%endfor %}
    {% endif %}
{% endwith %}


<div class="custom-container">
    <h1 class="header-title header-title-primary mt-3">Invetory Management</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-start justify-content-md-end mt-3 mb-4 ml-3">
        <a href="{{ url_for('inventory.add') }}" class="btn btn-success ">
            <i class="fa fa-plus"></i> Add Item
        </a>
    </div>
    
    <table class="table">
        <thead class="table-primary ">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Mac Address</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.mac_address }}</td>
                <td>{{ item.serial_number }}</td>
                <td>{{ item.manufacturer }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="{{ url_for('inventory.edit', id=item.id) }}" class="btn btn-primary">
                            <i class="fa fa-edit fa-xs"></i>
                        </a>
                        <a href="{{ url_for('inventory.delete', id=item.id) }}" class="btn btn-danger">
                            <i class="fa fa-trash fa-xs"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}